#why-young-people {
  display: flex;
  margin: 0;
  font-size: 5vh; /* 放大字体 */
  color: white;
  text-shadow: 2vh 2vh 4vh rgba(0, 0, 0, 0.5); /* 添加文字阴影 */
  opacity: 0; /* 初始透明度 */
  transition: opacity 1s; /* 渐显动画 */
  z-index: 2;
  margin: 0;
}

.p1 {
  display: flex;
  font-size: 2vh;
  text-align: left;
}

h1 {
  display: flex;
  font-size: 7vh; /* 调整字体大小 */
  color: #ffffff; /* 设置字体颜色 */
  text-align: center; /* 居中对齐文本 */
  margin: 0;
  padding: 3vh;
  text-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.3); /* 添加文字阴影 */
  opacity: 0; /* 初始透明度 */
  animation: fadeIn 2s forwards; /* 淡入效果 */
}

h2 {
  font-size: 6vh; /* 放大字体 */
  display: flex;
  margin: 0;
  padding: 3vh;
  color: white;
  text-align: center;
  text-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.5); /* 添加文字阴影 */
  opacity: 0; /* 初始透明度 */
  animation: fadeIn 2s forwards; /* 淡入效果 */
}

h3 {
  position: absolute;
  display: flex;
  top: 2vh; /* 设置顶部边距 */
  left: 2vh; /* 设置左侧边距 */
  margin: 0; /* 移除默认的外边距 */
  padding: 2vh; /* 设置内边距 */
  font-size: 2vh; /* 设置字体大小 */
  color: white;
}
