.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#section1 {
  background-color: rgb(28, 28, 161);
  background-position: center;
  background-size: cover;
}

#section2 {
  background-image: url(https://jackywang98.github.io/Peizhenshi/images/pic02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section3 {
  background-image: url(https://jackywang98.github.io/Peizhenshi/images/pic02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#section4 {
  background-image: url(/images/pic02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
