html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#fullpage {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 渐隐动画 */
.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    display: none; /* 确保元素在动画结束后隐藏 */
  }
}

/* 渐显动画 */
.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container {
  margin-bottom: 20px; /* 添加底部边距 */
}

.responsive-iframe {
  width: 80%;
  height: 100%;
  border: none;
}
